{% extends "KasiaEpopeeBundle::layout.html.twig" %}

{% block menu %}
	<ul class="nav nav-tabs">
		{% for i in 1..12 %}
			<li role='presentation'><a href='{{path('kasia_epopee_book', {book: i})}}'>Księga {{i}}</a></li>
		{% endfor %}			
	</ul>
{% endblock %}

{% block sidebar %}
	<p>
		<a href="{{path('kasia_epopee_homepage')}}" type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-home" aria-hidden=true></span> Strona główna</a>
	</p>
{% endblock %}