{% extends "KasiaEpopeeBundle::bars.html.twig" %}
{% block content %}
	<p>Pan Tadeusz, czyli Ostatni zajazd na Litwie – poemat Adama Mickiewicza wydany w dwóch tomach w 1834 w Paryżu przez Aleksandra Jełowickiego.</p>
	<p>Ta epopeja narodowa z elementami gawędy szlacheckiej powstała w latach 1832-1834 w Paryżu. Składa się z dwunastu ksiąg pisanych wierszem, trzynastozgłoskowym aleksandrynem polskim.</p>
	<p>Rękopis Pana Tadeusza przechowywany jest w Zakładzie Narodowym im. Ossolińskich we Wrocławiu, w szkatule z hebanu i kości słoniowej zamówionej przez Stanisława Tarnowskiego i wykonanej w 1873 przez Józefa Brzostowskiego.</p>
	<p>Pierwsze wydanie Pana Tadeusza na ziemiach polskich ukazało się w Toruniu w 1858 r. w drukarni miejskiej dzierżawionej przez Ernsta Lambecka[1]. Czas akcji: pięć dni z roku 1811 i dwa dni z roku 1812.</p>
	<div class="col-xs-12 col-md-6">
		<img src="{{asset('bundles/kasiaepopee/images/pan_tadeusz1.jpg')}}" alt="Pan Tadeusz" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-md-6">
		<img src="{{asset('bundles/kasiaepopee/images/pan_tadeusz2.jpg')}}" alt="Pan Tadeusz" class="img-thumbnail">
	</div>
{% endblock %}	